<h1>
Hi, I am <%=current_user.username%>
</h1>

<img class="avatar-big" src="<%=current_user.avatar%>"><br>

<a href="/users/profile/<%=current_user.id%>/edit">Edit Profile?</a>

<p class="profile-tags">About Me:
<%=current_user.aboutme%></p>

<p class="profile-tags">Games I've Played:
<%=current_user.hangman_games.count%></p>

<p class="profile-tags">Hangman Games:</p>
<p>Wins:
<%wins = @games.select { |game| game.end_game == true } %>
        <%=wins.length%></p>


<p>Losses:
<%losses = @games.select { |game| game.end_game == false } %>
        <%=losses.length%></p>